<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
<h1>Hello Every One</h1>
<h1 id="randomGoesTo">Randoms Value For Every 1 Second: </h1>
<script>
    $(document).ready(function () {
    const source = new EventSource("/chart-data");
    source.onmessage = function (event) {
        const data = JSON.parse(event.data);
        console.log(data.x);
        document.getElementById("randomGoesTo").innerHTML = "Randoms Value For Every 1 Second: " + data.x;
    }
    });
</script>
</body>
</html>